<div class="container">

  <form autocomplete="off" (ngSubmit)="listarTodos()">

      <h1>  Alunos Cadastrados</h1>


    <div class="ui-g">
        <div class="ui-g-12">
          <p-dataTable [(value)]="alunos" [paginator]="true" [rows]="5"
            [responsive]="true" #tabela>
            <p-column field="turma.curso.nome" header="Curso"></p-column>
            <p-column field="horario" header="Horário">
            <ng-template let-aluno="rowData" pTemplate="body">
                {{ aluno.turma.horaInicio +':'+ aluno.turma.minutoInicio +' às '+ aluno.turma.horaFim +':'+ aluno.turma.minutoFim }}
              </ng-template>
            </p-column>
            <p-column field="nome" header="Aluno"></p-column>
            <p-column styleClass="col-nota" field="nota1" header="1° Nota"></p-column>
            <p-column styleClass="col-nota" field="nota2" header="2° Nota"></p-column>
            <p-column styleClass="col-nota" field="nota3" header="3° Nota"></p-column>
            <p-column styleClass="col-nota" field="media" header="Média">
              <ng-template let-aluno="rowData" pTemplate="body">
                {{ ( (aluno.nota1 + aluno.nota2 + aluno.nota3) / 3 ) | number:'1.2-2' }}
              </ng-template>
            </p-column>
            <p-column styleClass="col-status" field="status" header="Status">
              <ng-template let-aluno="rowData" pTemplate="body">
                  {{ ( (aluno.nota1 + aluno.nota2 + aluno.nota3) / 3 ) > 7 ? 'Aprovado' : 'Reprovado'  }}
              </ng-template>
            </p-column>
            <p-column styleClass="col-acoes">
              <ng-template let-aluno="rowData" pTemplate="body">
                <a pButton icon="fa-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/alunos', aluno.codigo]"></a>
                <button pButton icon="fa-trash" pTooltip="Excluir" (click)="excluir(aluno)" tooltipPosition="top"></button>
              </ng-template>
            </p-column>
          </p-dataTable>
          <!--  {{ alunos | json }} -->
        </div>

        <div class="ui-g-12">
          <a pButton label="Novo Aluno" routerLink="/alunos/novo" ></a>
          <button pButton type="submit" label="Recarregar Tabela"></button>
        </div>

      </div>
  </form>
</div>
